#content_progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 32766;
    width: 100%;
    height: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #ffffff80; /* 使用半透明白色，适配夜间模式 */
}

#content_progress::-webkit-progress-bar {
    background-color: transparent;
}

#content_progress::-webkit-progress-value {
    background-color: #ffffff80;
}

#content_progress::-moz-progress-bar {
    background-color: #ffffff80;
}
